/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

body{

    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


.main-container {
   
    width: 100%;
    max-width: 90em;
    padding: 0 50px;
    box-sizing: border-box;
}

main{

  
    display: flex;
    justify-content: space-between;
    align-content: center;
}



a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.375em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** header***************/
.bandeau-container{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width : 100%;
    margin : 30px 50px;
    gap: 75em;
    
}

.search-text{

    line-height: 8px;
    margin-bottom: 35px;
}

h1{

    font-size: 1.375em;
}

.menu{

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap : 4.25em;
    margin-right: 50px;
    height: 2.188em;
   

    
}

.menu a:hover{

    color: blue;
    border-top: 2px solid #0065FC;
    

    
}


/****** La zone de recherche ******/

.search-container{

    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}

.search-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search h1{

    font-size: 1.375em;
}


/**** Les filtres *****/

.filters-container{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top : 35px;
    margin-bottom: 35px;
}

.filters-container a{

    font-size: 1.063em;
    font-weight: 700;
   
   
}

.filters-container a:hover{

    background-color: #DEEBFF;
}

.filters-container img{

    margin-left: 10px;
    margin-right: 10px;
}

.filters{

    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    padding: 12px;
    margin-right: 10px;

}

.results{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    width: 1340px;
  
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
   
}
/****** Hebergements ***********/

.hebergements {
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-left: 50px;
    box-sizing: border-box;
    width: 68%;
    
    
}
.hebergements-cards-1{
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-basis: auto;
    object-fit: contain;
    gap: 30px;
    object-fit: contain;
    
}



.hebergements-cards-1 .card{
    
    width: 100%;
    object-fit: contain;
    flex-direction: column;
    flex: 0 1 24%;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
    
  }

.hebergements-cards-1 img{
    
    width: 100%;
    height: 7.75em;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards-1 .card-content{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    
    
    
}

.hebergements-cards-1 .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards-1 .card-subtitle {
    margin: 0;
}

.hebergements-cards-1 .card-rating {
    
    margin-top: 10px;
    margin-bottom: 5px;
}

.hebergements-cards-2{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap : 30px;
}

.hebergements-cards-2 .card{

    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
   
   
}


.hebergements-cards-2 img{
    width : 100%;
    height : 7.75rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto;
    
    
}

.hebergements-cards-2 .card-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    margin: auto;
}


.hebergements-cards-2 .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards-2 .card-subtitle {
    margin: 0;
}

.hebergements-cards-2 .card-rating {
    
    margin-top: 10px;
    margin-bottom: 5px;
}

.more{

    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

/****** Populaires ***********/
.populaires {
  
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    background: var(--Grey, #F2F2F2);
    border-radius: 20px;
    box-sizing: border-box;
    
   
}

.populaires-title {
    
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    
}

.populaires-cards{

    
    width: 23em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    padding: 60px;
    
    
}

.populaires-cards .card {
    
    width: 100%;
    display: flex;
    margin-top: 33px;
    border-radius: 20px;
    
}

.populaires-cards img {
    
    width: 33%;
    height: 8.5em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
   
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.populaires-cards .card-title {
    
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* container de la partie activité */

.container-activites{

    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.activites-title{

    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cards-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.a-card{

    text-align: center;

   
}

.a-card img{

    width: 50%;
    border-radius: 20px;
}

/* Le pied de page */


.foot{

    
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-bottom: 58px;
    margin-top: 35px;
    margin-right: 50px;
    margin-left: 50px;
    
}

li{

   list-style-type: none;
}

.list-1{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
   

}
.list-2{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
   

}

.list-3{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}