/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container{
    width: 100%;
    max-width: 1440px;
}

main{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}



a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.375em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** header***************/



header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.logo{
    margin-top:  30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.logo img{
    width: 35%;
    
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 50px;
}

.menu a{
    line-height: 50px;
    margin-left: 38px;
}
.menu a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/****** La zone de recherche ******/

.search-container{
    display: flex;
    flex-direction: column;
 
}

.search-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 8px;
    margin-bottom: 35px;
    margin-top: 30px;
    margin-left: 50px;
}

.search-text h1{
    font-size: 1.375em;
    
}

.search-text p{
    font-size: 1em;
}

.search-form i{
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: #F2F2F2;
    width:50px;
    border-radius: 15px 0px 0px 15px;
    padding-top: 10px;
}

.search-form form{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    height: 49px;
    
}

.search-form input{
    border: 1px solid #F2F2F2;
}

.search-form button{
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

.search-form ::placeholder{
    color: black;
    font-size: 18px;
    text-align: center;
}

.search-form .fa-magnifying-glass{
    display: none;
}

/**** Les filtres *****/

.filters-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
}

.filters-containers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top : 35px;
    margin-bottom: 35px;
}

.filters-containers a{
    font-size: 1.063em;
    font-weight: 700;
    padding-right: 19px;
}

.filters-containers a:hover{
    background-color: #DEEBFF;
}



.filters{
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    padding: 12px;
    margin-right: 10px;
    margin-left: 5px;
    gap: 10px;
}

.filters i{
    font-size: 22px;
}

.filters-containers .mobile-1{
    display: flex;
    margin: auto;
}

.filters-containers .mobile-2{
    display: flex;
    margin: auto;
}
.results{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
    margin-left: 50px;
}

.fa-info{
    border : 1px #D9D9D9 solid;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    
}

.hebergements-and-populaires section {
    width: 1340px;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

/****** Hebergements ***********/


.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 50px;
    background-color: var(--main-bg-color);
    min-width: 650px;
    
}

.hebergements-title{
    line-height: 10px;
}

.hebergements a{
    width: 30%;
    margin-right: 5px;
}

.hebergements-cards-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}

.hebergements-cards-1 .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 1 24%;
    margin-bottom: 30px;
}

.hebergements-cards-1 img{
    width: 100%;
    height: 7.75em;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards-1 .card-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 5px;
}

.hebergements-cards-1 .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards-1 .card-subtitle {
    margin: 0;
}

.hebergements-cards-1 .card-rating {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.hebergements-cards-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
}

.hebergements-cards-2 .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 1 24%;
    margin-bottom: 30px;
}

.hebergements-cards-2 img{
    width: 100%;
    height: 7.75em;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards-2 .card-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 5px;
}

.hebergements-cards-2 .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards-2 .card-subtitle {
    margin: 0;
}

.hebergements-cards-2 .card-rating {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.more{
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/

.populaires {
    
    width: 32%;
    max-width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Grey, #F2F2F2);
    border-radius: 20px;
    box-sizing: border-box;
    margin-right: 50px;
    height: 650px;
}

.populaires-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
}

.populaires-cards a{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    
}

.populaires-cards .card {
    width: 100%;
    height: 146px;
    display: flex;
    margin-top: 25px;
    border-radius: 20px;
    margin-left: -20px;
}

.populaires-cards img {
    height: 146px;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    
}

.populaires-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
    
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* container de la partie activité */

.container-activites{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top : 35px;
    margin-bottom: 35px;
    margin-right: 50px;
    margin-left: 10px;
}

.activites-title{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 75px;

    
}
.cards-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-left: 70px;
    margin-right: 75px;
    margin-top: 20px;
}

.a-card{
    width: 20.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.a-card img{
    width: 100%;
    height: 23.75em;
    border-radius: 20px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.a-card h3{
    margin-left: 18px;
    font-size: 1em;
    padding-bottom: 4px;
    line-height: 12px;
    
}


/* Le pied de page */

footer{
    height: 123px;
    max-width: 90vw;
    width: 100vw;
    margin-top: 35px;
    margin-left: 70px;
    margin-right: 0px;
    padding-left: 0px;
}

.foot{
    max-width: 91vw;
    width: 100vw;    
    display: flex;
    align-items: flex-start;
    gap: 35px;
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-right: 20px;
    margin:auto;
    margin-left: -25px;
}
.foot h2{
    font-size: 18px;
    margin-left: 40px;
    line-height: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}
li{
    list-style-type: none;
    line-height: 36px;
}

.list-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex:  1 0 0;
    margin-left: -20px;
}

.list-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.list-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* High devices more than 1440px */
@media (min-width: 1441px) {

    body{
        max-width: 1920px;
        margin-left: 0px;
        margin-right: 150px;
    }

    
    .cards-container{
        max-width: 80%;
        margin-left: 65px;
        margin-right: 0px;
        gap: 30px;
    }
    .a-card{

        width: 19vw;
        max-width: 300px;
        
        
    }
    footer{
        width: 92%;
    }

    .foot{
        width: 100%;
    }
   
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


/* Le header *****/

    header{
        width: 100%;
        margin-left: 0px;
        
    }

    body{
        margin-left: -5px;
    }
    
    .menu{
        margin-right: 30px;
        
    }

    .filters-container{
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        margin-bottom: 0px;
    }

    .filters-containers{
        gap: 0px;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .search-form{
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .search-form input{
        width: 20vw;
    }

   
/* Bloc Hébergements et Populaires*****/

    main{
        flex-direction: column;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 0px;
    }   

    .hebergements-and-populaires section{
        max-width: 92vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 0px;
    }

    .hebergements {
        width: 100%;
        max-width: 100%;
        margin-left :50px;
        
        
    
    }

    .hebergements-title{
        margin-bottom: 10px;
        margin-top: 0px;
        line-height: 0px;
    }

    .hebergements-cards-1{
        width: 100%;
        margin-left: -12px;
        gap: 10px;
        box-sizing: border-box;
        
    }
    
    .hebergements-cards-1 .card{
        width: 100%;
    }

    .hebergements-cards-2{
        width: 100%;
        margin-left: -12px;
        gap: 10px;
        box-sizing: border-box;
    }
    
    .hebergements-cards-2 .card{
        width: 100%;
    }

    .populaires {
        flex-direction: column;
        max-width: 91.2vw;
        width: 100%;
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 0px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 25px;
        height: auto;
    }

    .populaires-title{
        width: 100%;
        margin-top: 5px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .populaires-title i{
        margin-right: 25px;
    }

    .populaires-cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0px;
        margin-left: 10px;
    }

    .populaires-cards .card{
        width: 92%;
    }
    
    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/* Activités****/

    .activites-title{
        margin-bottom: 0px;
    }
    .container-activites{
        margin-left: 5px;
    }

    .activites-cards{
        width: 19.5vw;
    }
    
    .a-card{
        width: 18.6vw;
        height: 270px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .a-card img{
        width: 100%;
        min-height: 200px;
        max-height: 200px;
    }

    .a-card h3{
        margin: auto;
        padding: 20px;
        margin-left: 5px;
        width: 15vw;
    }
/* Pied de page ****/
    
    footer{
        
        height: 163px;
        width: 92vw;
        margin-bottom: 0px;
        margin-left: 65px;
        padding-right: 0px;
    }

    .foot{
        height: 163px;
        width: 90vw;
        padding-right: 10px;
        padding-left: 0px;
        padding-right: 25px;
        padding-bottom: 20px;
    }

    .list-1{
        margin-left: -15px;
    }

    .list-3{
        margin-left: 5px;
    }
}    

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    /* header mobile *****/

    body{
        margin-left: -3px;
    
    }

    .main-container{
        margin: auto;
        width: 100%;
    }

    .logo{
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }

    header{
        max-width: 100%;
        width: 100%;
        margin-top: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .menu{
        width: 100%;
        justify-content: center;
        align-items: flex-start ;
        gap: 50px
        
    }

   
   .menu a:hover{
        border-top: none;
    }

    #lien-hebergement{
        margin-left: 10px;
    }

    #lien-hebergement:hover{

        border-bottom: 2px solid #0065FC;
            
    }


    #lien-activites{
        margin-left: 55px;
    }

    #lien-activites:hover{
        border-bottom: 2px solid #0065FC;
      
    }

    .search-container{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0px;
    }
   

   .search-text{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 15px;
    }

   .search-text h1{
        width: 90vw;
        line-height: 28px;
        margin-bottom: 5px;
        margin-left: 10px;
        
    }

   .search-text p{
        line-height: 0px;
        text-align: center;
        margin-left: 10px;
    }

   

   .search-form{
        max-width: 100vw;
        width: 100%;
        margin: auto;
        margin-bottom: -15px;
        margin-left: 50px;
    }
   
    .search-form input{
        width: 100%;
        height: 49px;
        border-right: none;
        margin-right: -20px;
        padding-right: 0px;
    }
   
   .search-form button{
        padding: 16px 15px ;
        align-items: center;
        gap: 10px;
        height: 49px;
        width: 49px;
        border-radius: 15px;
        border:none;

    }

   .search-form form{
        width: 90%;
        margin-bottom: 35px;
        margin-left: -25px;
    }

    .search-form i{
        padding: 10px;
        text-align: center;
        

    }

   .filters-title h3{
        margin-left : 24px ;
        padding: 0px;
    }
   .filters-container{
        max-width: 100vw;
        width: 100%;    
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
    }

   .filters-containers{
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        margin: auto;
        margin-left: 5px;
        box-sizing: border-box;
    }

    .filters{
        width: 44vw;
        height: 50px;
        box-sizing: border-box;
    }

    .filters i{
        padding: 5px;
    }

    .results{
        width: 89vw;
        margin-left: 25px;
        margin-top: 35px;
    }


    .mobile-1{
        font-size: 14px;
    }

    .mobile-2{
        font-size: 14px;
    }

    .mobile-2 a{
        text-align: left;
        line-height: 15px;
    }
    .search-form .desktop{
        display: none;
    }

    .search-form .fa-magnifying-glass{
        display: inline;
        color: white;
        background:none;
        width: 17px;
        height: 17px;
        margin-left: -8px;
    }

   
    /* Bloc hebergement et populaire inversé mobile ****/

    main{
        gap: 15px;
    }

    .hebergements-and-populaires{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        flex-direction: column-reverse;
    }

  
   
    .populaires{
        max-width: 767px;
        min-width: 767px;
        margin: 0px;
        margin-left: -5px;
     }

    .populaires-cards{
        width: 84vw;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 5px;
        gap: 15px;
        margin-left:-28px;
    }


    .populaires-cards .card{
        width: 88vw;
        margin-top: 0px;
    }

    .populaires-title{
        width: 100vw;
        margin-bottom: 20px;
        margin-left: -25px;
      
    }

    .populaires-title i{
        margin-right: 20px;
    }
    .populaires-title h2{
        margin-left: 20px;
        margin-right: 60px;
    }

    section .hebergements{
        width: 100vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
       
        
    }
    
    .hebergements-title{
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
    }
    .hebergements h2{
        width : 93vw;
        line-height: 25px;
        margin-left: -10px;
        padding-left: 0px;
    }

    .hebergements{
        max-width: 100%;
        margin-left: 0px;
        background-color: white;
    }

    .hebergements a{

        width: 100%;
    }

    .hebergements-cards-1{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -9px;
    }

    .hebergements-cards-2{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
        margin-bottom: 0px;
        margin-left: -8px;
    }

    .hebergements-cards-1 .card{
        width: 88vw;
        height: 192px;
        padding-bottom: 20px;
    }

    .hebergements-cards-2 .card{
        width: 88vw;
        height: 192px;
        padding-bottom: 20px;
    }
    .hebergements .card-content{
        margin-left: 10px;
    }

    .hebergements .card-rating{
        margin-left: 10px;
    }

    .hebergements .more{
        width: 34vw;
        margin-left: -10px;
    }

    /* Partie Activités ***/

    .container-activites{
        flex-direction: column;
        width: 100vw;
        margin: 0px;
        margin-top: 35px;
        padding: 0px;
        padding-bottom: 30px;
    }

    .cards-container{
        flex-direction: column;
        width: 100vw;
        padding: 0px;
        margin-left: 15px;
        
    }

    .a-card{
        width: 85vw;
        height: 200px;
        margin-left: 15px;
    }
    
    .a-card img{
        min-height: 141px;
        max-height: 141px;
        width: 100%;
    }

    .a-card h3{

        width: 60vw;
    }

    .activites-title{
        width: 95vw;
        margin :auto;
        margin-bottom: 30px;
        margin-left: 30px;
    }

    /* Pied de page mobile ***/

    footer{
        max-width: 766px;
        max-height: 530px;
        width: 100vw;
        height: 100vh;
        margin: auto;
        margin-top: 35px;
    }

    .foot{
        max-height: 530px;
        max-width: 766px;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 30px;
    }

    .list-1{

        margin-left: 0px;
    }
}